 .tooltip {
	position: relative;
	display: inline-block;
}

.tooltiptext {
	min-width: 500px;
	white-space: pre-line;
	margin-left: 10px;
}

.tooltipimage {
	float: left;
}

/* Tooltip text */
.tooltip .tooltipcontainer {
	visibility: hidden;
	font-size: larger;
	display: flex;
	background-color: #555;
	color: #fff;
	text-align: left;
	padding: 10px 10px;
	border-radius: 6px;

	white-space: normal;
  
	/* Position the tooltip text */
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: 0px;
  
	/* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.3s;
}
  
  /* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltipcontainer {
	visibility: visible;
	opacity: 1;
} 